{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block header %}
      Rajoute un article au journal de bord.
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if logbookpost_id %}
                <form action="{% url 'choicapp:edit_logbookpost' logbookpost_id %}" method="post">{% csrf_token %}
            {% else %}
                <form action="{% url 'choicapp:add_logbookpost' %}" method="post">{% csrf_token %}
            {% endif %}
                {{ form|crispy }}
                <input type="submit" value="Enregistrer"/>
                </form>
        </div>      
    </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
