{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
{% endblock header %}

{% block content %}
 <div class="container"> 
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
                <h1 class="page-header">
                    Liste de notions
                    <small>à explorer</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}