{% extends "base.html" %}

{% load staticfiles %}
{% load markdown_filter %}

{% block header %}
       Liste de notions
       <small>à explorer</small>
{% endblock header %}

{% block content %}
        {% for word in words %}
        <div class="row">
            <div class="col-md-12">
            <font class="text-primary" size="5">{{ word.word }}</font>
            <a class="btn btn-secondary" href="{% url 'choicapp:edit_glossaryword' word.id %}"> <span class="glyphicon glyphicon-pencil"></span></a>
            <p>
                {{ word.description|markdownify|safe }}
            </p>
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12 ">
            {% if user.is_authenticated %}
                <p align='center'>
                <input type="button" class="btn btn-warning" onclick="location.href='{% url 'choicapp:add_glossaryword' %}';" value="Ajouter une notion." />
                </p>
            {% endif %}
        </div>
        </div>
        <!-- /.row -->
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
