{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
     Editer notions
{% endblock header %}

{% block content %}
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" />
                </form>
            </div>
        </div>
        <!-- /.row -->
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
