 {% extends "base.html" %}

{% load staticfiles %}

{% block header %}
     Nous sommes Tedøk?
{% endblock header %}

{% block content %}
        <div class="row">

            <div class="col-md-12">

                Ce site web est une plateforme d'outils pour aider la communauté Tedøk? à s'organiser de manière juste et démocratique. Ces outils sont en constante évolution et sont soumis aux décisions collectives prises par Tedøk?.
                <br>
                La participation à ce site est pour l'instant réservée à un petit nombre de participants. 

            </div>
        </div>
        <!-- /.row -->
    
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
