{% extends "base.html" %}

{% load staticfiles %}
{% load markdown_filter %}

{% block header %}

{% endblock header %}

{% block content %}
 <div class="container"> 
        <div class="row">
            {% if messages %}
            <br><br>
            {% for message in messages %}
                <font color="red">{{ message }}</font><br>
            {% endfor %}
            </ul>
            {% endif %}
            <!-- Blog Entries Column -->
            <div class="col-md-12">
            <h1 class="page-header">
                    Résumés de nos discussions Tedøk?
                </h1>
            </div>
        </div>
        {% for post, editable in posts %}
        <div class="row">
            <div class="col-md-12">
            <font class="text-primary" size="5">{{ post.date }}</font>
            {% if editable %}
                <a class="btn btn-secondary" href="{% url 'choicapp:edit_logbookpost' post.id %}"> <span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            <p>
                {{ post.content|markdownify|safe }}
            </p>
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12 ">
            {% if user.is_authenticated %}
                <p align='center'>
                <input type="button" class="btn btn-warning" onclick="location.href='{% url 'choicapp:add_logbookpost' %}';" value="Ajouter un résumé." />
                </p>
            {% endif %}
        </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}