{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
    Connecte toi
{% endblock header %}

{% block content %}
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
               {% if error %}
                    <p><strong>Utilisateur inconnu ou mauvais password.</strong></p>
                {% endif %}
                {% if user.is_authenticated %}
                    Tu es maintenant connecté, {{ user.username }} !
                {% else %}
                    <form action="{% url 'choicapp:login' %}" method="post" action=".">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Ok" />
                    </form>
                     <p><a href="{% url 'password_reset_recover' %}">As tu perdu ton mot de passe?</a></p>
                {% endif %}
            </div>
        </div><!-- /row -->
    
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
