{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
{% endblock header %}

{% block content %}
 
 <div class="container"> 
    <div class="row">
        <div class="col-md-12">
        	<h1 class="page-header">
                Nos valeurs
            </h1>
        </div> -
        <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <p align='center'>
                {% if user.is_authenticated %}
                    Il te reste <b>{{ request.user.voter.value_pts }} points</b> à répartir parmis ces valeurs.
                {% else %}
                    Connecte toi pour voter!
                {% endif %}
            </p>
        </div>
    </div>
    {% for value, is_up_votable, is_down_votable, points, points_from_user in values %}
        <div class="row mt centered">
            <div class="col-md-6 col-lg-offset-3">
                 <table class="table">
                    <tbody>
                        <tr>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th><font class="text-primary" size="5">{{ points }}</font> pts
                                        {% if user.is_authenticated %}
                                            <font class="text-secondary" size="3">({{ points_from_user }})</font>
                                        {% endif %}
                                        </th> 
                                        <th>
                                        <p align='center'>
                                        <font size="5">{{ value.description }}</font>
                                        </p>
                                        </th>
                                        <th>       
                                            <p align='right'>           
                                                <a class="btn btn-secondary" href="{% url 'choicapp:edit_value' value.id %}"> <span class="glyphicon glyphicon-pencil"></span></a>
                                                {% if is_down_votable %}
                                                    <a class="btn btn-primary" href="{% url 'choicapp:down_value' value.id %}"> <span class="glyphicon glyphicon-thumbs-down"></span></a>
                                                {% else %}
                                                    <a class="btn btn-primary disabled" href="#"> <span class="glyphicon glyphicon-thumbs-down"></span></a> 
                                                {% endif %}
                                                {% if is_up_votable %}
                                                    <a class="btn btn-primary" href="{% url 'choicapp:up_value' value.id %}"> <span class="glyphicon glyphicon-thumbs-up"></span></a>
                                                {% else %}
                                                    <a class="btn btn-primary disabled" href="#"> <span class="glyphicon glyphicon-thumbs-up"></span></a> 
                                                {% endif %}
                                            </p>                        
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        <tr>
                            <b>Definition:</b> {{ value.definition }}            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    <hr> 
    <div class="row">
        <div class="col-lg-12 ">
            {% if user.is_authenticated %}
                <p align='center'>
                <input type="button" class="btn btn-warning" onclick="location.href='{% url 'choicapp:add_value' %}';" value="Proposer une valeur" />
                </p>
            {% endif %}
        </div>
    </div>
</div> 


        <!-- /.row -->
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}