{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block header %}
     Ajouter une proposition! 
{% endblock header %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Enregistrer" />
                </form>
            </div>
        </div>
        <!-- /.row -->
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
