{% extends "base.html" %}

{% load staticfiles %}
{% load markdown_filter %}

{% block header %}
    Liste de propositions
{% endblock header %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <p align='center'>
                {% if user.is_authenticated %}
                    Il te reste <b>{{ request.user.voter.dokp }} points</b> à répartir parmis ces propositions.
                {% else %}
                    Connecte toi pour voter!
                {% endif %}
            </p>
        </div>
    </div>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">En cours</a></li>
        <li><a data-toggle="tab" href="#menu1">Voté</a></li>
        <li><a data-toggle="tab" href="#menu2">Rejeté / Expiré</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br>
            <p align='center'> Ici sont rassemblées toutes les propositions à voter.
            {% for proposition, is_up_pointable, is_down_pointable, is_big_up_pointable, is_big_down_pointable, ponts, nb_points_from_user, up_voted, down_voted, nb_up_votes, nb_down_votes in propositions_pending %}
             <div class="row mt centered">
                <div class="col-md-10 col-lg-offset-1">
                     <table class="table">
                        <tbody>
                            <tr>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <p style="position:relative;"><a name="{{ proposition.id }}" style="position:absolute; top:-70px;"></a>
                                                <font class="text-primary" size="5">{{ proposition.points }}</font> pts
                                                {% if user.is_authenticated %}
                                                    <font class="text-secondary" size="3">({{ nb_points_from_user }})</font>
                                                {% endif %}
                                                <br>
                                                <p align='left'>           
                                                    {% if is_down_pointable %}
                                                        <a class="btn btn-primary" href="{% url 'choicapp:down_visibility' item_id=proposition.id nb_votes=1 %}"> <span class="glyphicon glyphicon-thumbs-down"></span></a>
                                                    {% else %}
                                                        <a class="btn btn-primary disabled" href="#"> <span class="glyphicon glyphicon-thumbs-down"></span></a> 
                                                    {% endif %}
                                                    {% if is_up_pointable %}
                                                        <a class="btn btn-primary" href="{% url 'choicapp:up_visibility' proposition.id 1 %}"> <span class="glyphicon glyphicon-thumbs-up"></span></a>
                                                    {% else %}
                                                        <a class="btn btn-primary disabled" href="#"> <span class="glyphicon glyphicon-thumbs-up"></span></a> 
                                                    {% endif %}
                                                </p>
                                                <p align='left'>
                                                    {% if is_big_down_pointable %}
                                                        <a class="btn btn-warning" href="{% url 'choicapp:down_visibility' proposition.id big_pts %}"> <span class="glyphicon glyphicon-thumbs-down"></span></a>
                                                    {% else %}
                                                        <a class="btn btn-warning disabled" href="#"> <span class="glyphicon glyphicon-thumbs-down"></span></a> 
                                                    {% endif %}
                                                    {% if is_big_up_pointable %}
                                                        <a class="btn btn-warning" href="{% url 'choicapp:up_visibility' proposition.id big_pts %}"> <span class="glyphicon glyphicon-thumbs-up"></span></a>
                                                    {% else %}
                                                        <a class="btn btn-warning disabled" href="#"> <span class="glyphicon glyphicon-thumbs-up"></span></a> 
                                                    {% endif %}
                                                </p>                            
                                            </th> 
                                            <th>
                                            <p align='center'>
                                            <font size="5">{{ proposition.title }}</font> 
                                            <br> {{ proposition.deadline }} <a class="btn btn-secondary" href="{% url 'choicapp:edit_proposition' proposition.id %}"> <span class="glyphicon glyphicon-pencil"></span></a>
                                            </p>
                                            </th>
                                            <th>       
                                                <p align='right'>
                                                    <p style="position:relative;"><a name="{{ proposition.id }}" style="position:absolute; top:-70px;"></a>
                                                    <font class="text-primary" size="5">{{ nb_up_votes }} <span class="glyphicon glyphicon-thumbs-up"></span> - {{ nb_down_votes }} <span class="glyphicon glyphicon-thumbs-down"></span></font>
                                                    <br>
                                                    {% if up_voted %}
                                                        <a class="btn btn-info" href="{% url 'choicapp:updown_proposition' proposition.id 1 %}"> <span class="glyphicon glyphicon-thumbs-up"></span></a>
                                                    {% else %}
                                                        <a class="btn btn-primary" href="{% url 'choicapp:updown_proposition' proposition.id 1 %}"> <span class="glyphicon glyphicon-thumbs-up"></span></a> 
                                                    {% endif %}
                                                    {% if down_voted %}
                                                        <a class="btn btn-info" href="{% url 'choicapp:updown_proposition' proposition.id 0 %}"> <span class="glyphicon glyphicon-thumbs-down"></span></a>
                                                    {% else %}
                                                        <a class="btn btn-primary" href="{% url 'choicapp:updown_proposition' proposition.id 0 %}"> <span class="glyphicon glyphicon-thumbs-down"></span></a>
                                                    {% endif %}
                                                </p>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            <tr>
                                <b>Description:</b><br> {{ proposition.description|markdownify|safe}}            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}  
            <hr>
            <div class="row">
                <div class="col-lg-12 ">
                {% if user.is_authenticated %}
                    <p align='center'>
                    <input type="button" class="btn btn-warning" onclick="location.href='{% url 'choicapp:add_proposition' %}';" value="Ajouter une proposition." />
                    </p>
                {% endif %}
               </div>
            </div>  
        </div>


        









        <div id="menu1" class="tab-pane fade">
            <br>
            <p align='center'> Ici sont rassemblées toutes les propositions à qui ont été votées favorablement.
            {% for proposition, is_up_pointable, is_down_pointable, is_big_up_pointable, is_big_down_pointable, ponts, nb_points_from_user, up_voted, down_voted, nb_up_votes, nb_down_votes in propositions_voted %}
             <div class="row mt centered">
                <div class="col-md-10 col-lg-offset-1">
                     <table class="table">
                        <tbody>
                            <tr>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <p style="position:relative;"><a name="{{ proposition.id }}" style="position:absolute; top:-70px;"></a>
                                                <font class="text-primary" size="5">{{ proposition.points }}</font> pts
                                                {% if user.is_authenticated %}
                                                    <font class="text-secondary" size="3">({{ nb_points_from_user }})</font>
                                                {% endif %}                            
                                            </th> 
                                            <th>
                                            <p align='center'>
                                            <font size="5">{{ proposition.title }}</font> 
                                            <br> {{ proposition.deadline }}
                                            </p>
                                            </th>
                                            <th>       
                                                <p align='right'>
                                                    <p style="position:relative;"><a name="{{ proposition.id }}" style="position:absolute; top:-70px;"></a>
                                                    <font class="text-primary" size="5">{{ nb_up_votes }} <span class="glyphicon glyphicon-thumbs-up"></span> - {{ nb_down_votes }} <span class="glyphicon glyphicon-thumbs-down"></span></font>
                                                </p>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            <tr>
                                <b>Description:</b><br> {{ proposition.description|markdownify|safe}}            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="menu2" class="tab-pane fade">
            <br>
            <p align='center'> Ici sont rassemblées toutes les propositions qui ont été rejetées ou qui ont expirées.
            {% for proposition, is_up_pointable, is_down_pointable, is_big_up_pointable, is_big_down_pointable, ponts, nb_points_from_user, up_voted, down_voted, nb_up_votes, nb_down_votes in propositions_rejected %}
             <div class="row mt centered">
                <div class="col-md-10 col-lg-offset-1">
                     <table class="table">
                        <tbody>
                            <tr>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <p style="position:relative;"><a name="{{ proposition.id }}" style="position:absolute; top:-70px;"></a>
                                                <font class="text-primary" size="5">{{ proposition.points }}</font> pts
                                                {% if user.is_authenticated %}
                                                    <font class="text-secondary" size="3">({{ nb_points_from_user }})</font>
                                                {% endif %}                            
                                            </th> 
                                            <th>
                                            <p align='center'>
                                            <font size="5">{{ proposition.title }}</font> 
                                            <br> {{ proposition.deadline }}
                                            </p>
                                            </th>
                                            <th>       
                                                <p align='right'>
                                                    <p style="position:relative;"><a name="{{ proposition.id }}" style="position:absolute; top:-70px;"></a>
                                                    <font class="text-primary" size="5">{{ nb_up_votes }} <span class="glyphicon glyphicon-thumbs-up"></span> - {{ nb_down_votes }} <span class="glyphicon glyphicon-thumbs-down"></span></font>
                                                </p>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            <tr>
                                <b>Description:</b><br> {{ proposition.description|markdownify|safe}}            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>



        <!-- /.row -->

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
